@font-face {
    font-family: 'gilroy';
    src: url('fonts/Gilroy-Light.otf');
}

.navbar {
    background-color: #274e9a;
}

.logo {
    left: 50%;
    height: 120px;
    top: -35px;
    position: absolute;
    transform: translate(-50%, 0)
}

.mainLogo {
    position: absolute;
    top: 40%;
    left: 52%;
    width: 60%;
    transform: translate(-50%, -50%);
    /* font-size: 170px; */
    font-family: 'gilroy', 'Courier New', Courier, monospace;
    color: #274e9a;
    margin: 50px auto;
}

.bracket {
    font-size: 220px;
    color: #f6b32f;
    letter-spacing: 38px;
    top: 5px;
    position: relative;
}

/*
.startScreen {
    
    
} */

.btn-primary {
    position: absolute;
    height: 50px;
    width: 15%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 20px;
     border: 2px white solid; 
}

.btn-primary:hover {
    transform: translate(-51%, -1%);
    background-color: #3989ce;
    border-color: white;
    border-radius: 20px;
    font-size: 0.8em;
    box-shadow: 3px 3px 3px lightgray
}

.btn-primary:active:focus {
    outline: none;
    border: transparent;
} 

.btn-primary:focus {
    outline: none;
    border: transparent;
} 

.leftTriangle {
    position: absolute;
    height: 85vh;
    width: 30%;
    background-color: #f6b32f;
    bottom: 0%;
    left: 0%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.rightTriangle {
    position: absolute;
    height: 55vh;
    width: 40%;
    background-color: #f6b32f;
    bottom: 0%;
    right: 0%;
    clip-path: polygon(100% 10%, 0% 100%, 100% 100%);
}

#imran {
    position: absolute;
    width: 20%;
    left: 0%;
    bottom: 0%;
    z-index: -1;
}

#stuart {
    position: absolute;
    width: 20%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
}