@font-face {
    font-family: 'gilroy';
    src: url('fonts/Gilroy-Light.otf');
}

.navbar {
    background-color: #274e9a;
}

.logo {
    left: 50%;
    height: 120px;
    top: -35px;
    position: absolute;
    transform: translate(-50%, 0)
}

/*
.startScreen {
    
    
} */



.btn-primary {
    font-size: 30px;
    position: absolute;
    height: 60px;
    width: 60px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0)
}

.mainLogo {
    height: 150px;
    position: absolute;
    left: 51%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.leftBracket {
    position: relative;
}

.rightBracket {
    position: relative;
}

.leftTriangle {
    position: absolute;
    height: 700px;
    width: 450px;
    background-color: #f6b32f;
    top: 15%;
    left: 0%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.rightTriangle {
    position: absolute;
    height: 450px;
    width: 600px;
    background-color: #f6b32f;
    top: 45%;
    left: 57%;
    clip-path: polygon(100% 10%, 0% 100%, 100% 100%);
}