@font-face {
    font-family: 'gilroy';
    src: url(fonts/Gilroy-Light.otf);
}

.navbar {
    background-color: #274e9a;
    height: 8%;
    border: none;
}

.logo {
    left: 44%;
    height: 120px;
    top: -53%;
    position: absolute;
    transform: translate(-50%, 0);
}

.mainLogo {
    position: absolute;
    top: 40%;
    left: 52%;
    width: 60%;
    transform: translate(-50%, -50%);
    margin: 50px auto;
}

/* NEW-BOARD-BUTTON */

.btn-primary {
    position: absolute;
    height: 50px;
    width: 15%;
    top: 80%;
    left: 50%;
    background-color: #274e9a;
    transform: translate(-50%, 0);
    border-radius: 20px;
    border: 2px #f6b32f solid;
}

.btn-primary:hover {
    /*transform: translate(-51%, -1%);*/
    box-shadow: 5px 4px 3px lightgray;
}

.btn-primary:active:focus {
    outline: none;
    border: transparent;
}

.btn-primary:focus {
    outline: none;
    border: transparent;
}

.leftTriangle {
    position: absolute;
    height: 85vh;
    width: 30%;
    background-color: #f6b32f;
    bottom: 0%;
    left: 0%;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.rightTriangle {
    position: absolute;
    height: 55vh;
    width: 40%;
    background-color: #f6b32f;
    bottom: 0%;
    right: 0%;
    clip-path: polygon(100% 10%, 0% 100%, 100% 100%);
}

#imran {
    position: absolute;
    width: 20%;
    left: 0%;
    bottom: 0%;
    z-index: -1;
}

#stuart {
    position: absolute;
    width: 20%;
    right: 0%;
    bottom: 0%;
    z-index: -1;
}

#stuart_speech {
    width: 8%;
    height: auto;
    position: absolute;
    bottom: 16%;
    right: 13%;
    opacity: 0;
}

#imran_speech {
    width: 8%;
    height: auto;
    position: absolute;
    bottom: 19%;
    left: 13%;
    opacity: 0;
}


/* SIDE-BAR */
.subNav {
    position: absolute;
    align-items: stretch;
    top: 6.5%;
    right: 1%;
    z-index: 9999;
}



.sideBtn {
    background: #337ab7;
    color: #fff;
    border: 1px solid #337ab7;
    width: 70px;
    height: 50px;
    padding: 6px 12px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;

}

.sideBtn:active:focus {
    outline: none;
    border: transparent;
}

.sideBtn:focus {
    outline: none;
    border: none;
}

.sideBtn:active {
    outline: none;
    border: transparent;
}

.sideBtn:hover {
    box-shadow: 1px 1px 1px;
    background-color: #274e9a ;
    color: #fff;
    border: #274e9a;
}

.sideBarButtonActive {
    outline: none;
    border: 1px solid #f6b32f;
    color: #fff;
    background-color: #f6b32f;
}

#drop {
    display: none;
}

#drop.active {
   /* visibility: hidden;*/
    transition: all 0.3s;
    min-width: 100px;
    max-width: 100px;
    min-height: 50px;
    margin-left: 0px;
    margin-top: 10px;
    display: block;
}
/*
#drop.active {
    margin-top: 10px;
    margin-bottom: 0px;
    left: -200px;
    position: absolute;
    background-color: #47748b;
    color: #fff;
    visibility: visible;
}
*/

.menu {
    top: 0;
    right: 0;
    min-width: 100px;
    max-width: 100px;
    min-height: 50px;
    margin-left: 0px;
    margin-top: 10px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#drop ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#drop a:hover {
    background: #f6b32f;
}

#drop ul.components {
    border-bottom: 1px solid #47748b;
}

/* KANBAN BOARD */

.cont {
    font-family: 'gilroy', Courier, monospace;
}

.listOG {
    opacity: 0;
    position: absolute;
    left: 2%;
    height: 78px;
    top: 15%;
    color: #1E6CBF;
    border-radius: 5px; 
    width: 200px;
    background-color: lightgrey;
    display: inline-block;
}

.title {
    text-align: center;
    font-size: 1.5em;
    font-weight: 900;
    border-bottom: 1px #bfbfbf solid;
    width: 90%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    padding-bottom: 3px;
    padding-top: 3px;
}

ul {
    margin-top: 2%;
}

#items li {
    opacity: 0;
    color: black;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 10px;
    list-style-type: none;
    background: white;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */ 
    /* WILL NEED CHANGING FOR CLICK AND DRAG FUNCTION */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 10px;
    word-wrap: break-word;
    border-radius: 5px;
}

#myInput {
    /*width: 90%;
    margin-bottom: 10px;
    margin-top: 8px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 20%;*/
    position: absolute;
    width: 90%;
    margin-bottom: 10px;
    margin-top: 8px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3%;
}

.taskBtn {
    position: absolute;
    background: none;
    width: 100%;
    bottom: 0%;
    height: 25px;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    color: white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-bottom: 23px;
    padding-top: 3px;
}

.taskBtn:active:focus {
    outline: none;
    border: transparent;
}

.taskBtn:focus {
    outline: none;
    border: none;
}

.taskBtn:active {
    outline: none;
    border: transparent;
    background-color: #999999;
}

.taskBtn:hover {
    outline: none;
    border: transparent;
    background-color: #999999;
}

.toDo {
    height:fit-content;
    clear: both;
}

#items {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    width: 90%;
    position: relative;
    left: 5%;
}

#items>li:hover {
    background: #ddd;
}

#items>li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}